/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.wrapper {
    padding-right: 6%;
    height: 94px;
}
.contador {
        display: flex;
        line-height: 39px;
        height: 42px;
        background: #101010;
        width: 206px;
        color: white;
        justify-content: space-around;
        margin: 17px auto 0 auto;

}
.contador>.two, .contador>.one{
    font-size: 2rem;
    background: #272424;
    padding: 0px 4px;
}
.iconRelog {
    padding: 0 4px;
}
.iconRelog>img {
    height: 29px;
}

.wrapper h3 {
    text-align: center;
    color: black;
    padding-top: 6px;
}